<mat-selection-list (selectionChange)="this.taskManager.saveTasks()">
  <mat-list-option
    *ngFor="let task of taskManager.getTasks()"
    [(selected)]="task.isCompleted"
  >
    {{ task.name }}
    <span class="dueDate" *ngIf="task.dueDate != undefined"
      >({{ task.dueDate | date: "YYYY/MM/dd" }})</span
    >
    <button
      class="edit-button"
      routerLink="/edit/{{ task.name }}"
      mat-raised-button
      color="primary"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </mat-list-option>
</mat-selection-list>

<button class="add-button" routerLink="/add" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>
