<form (ngSubmit)="saveTask(addTaskNameInput.value, dueDateInput.value)">
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>タスクを入力</mat-label>
    <input matInput name="add_task_name" #addTaskNameInput />
    <button mat-icon-button matSuffix aria-label="登録">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>タスクの期限</mat-label>
    <input matInput #dueDateInput [matDatepicker]="dueDatePicker" />
    <mat-datepicker-toggle
      matSuffix
      [for]="dueDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #dueDatePicker></mat-datepicker>
  </mat-form-field>
  <br />
  <span *ngIf="editTaskName">
    編集中のタスク：{{ editTaskName }} <br />
    選択された日付: {{ dueDateInput.value }}<br
  /></span>
</form>

<span *ngIf="editTaskName">
  <button
    class="delete-button"
    mat-raised-button
    color="warn"
    (click)="deleteTask()"
  >
    <mat-icon>delete</mat-icon>
  </button></span
>

<button class="list-button" routerLink="/" mat-fab color="primary">
  <mat-icon>list</mat-icon>
</button>
